<!doctype html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>BCPMe - My Continuity Actions - Activity</title>

    <!-- Bootstrap core CSS -->
	<link href="justincss/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="js/jquery.min.js"></script>
	<script src="justinjs/bootstrap.min.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

	<script type='text/javascript'>$( document ).ready(function() {
		$('.leftmenutrigger').on('click', function(e) {
		   $('.side-nav').toggleClass("open");
		   e.preventDefault();
		});
	});</script>
	
	<script type='text/javascript'>function toggler(divId) {$("#" + divId).toggle();}</script>
	
	<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal({backdrop: 'static', keyboard: false});
    });
	</script>
	
    <!-- Custom styles for this template -->
    <link href="justinstyle/navbar.css" rel="stylesheet">
	<link href="justinstyle/bcpmeMin.css" rel="stylesheet">
	<link href="justinstyle/bcpmeHrs.css" rel="stylesheet">
	<link href="justinstyle/bcpmeDay.css" rel="stylesheet">
	<link href="justinstyle/bcpmeWek.css" rel="stylesheet">

	</head>
<body>

 <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-company-red">
      <span class="navbar-toggler-icon leftmenutrigger"></span>
      <a class="navbar-brand" href="#"><img src="images/BCPMeLogo-W.png" width="145" height="54" alt="BCP Me"/></a>
		
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BCP Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plan">New BCP Plan</a>
					</li>
					<li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
		 			<li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex p-2">
          <li class="nav-item">
						<img src="images/ProfileImages/<%= userid %>.png" alt="" width="71" height="70" class="rounded-circle"/> <span class="text-light"><%= name %></span>
		  </li>          
        </ul>
      </div>
    </nav>
	
  <!-- The Modal -->
  <div class="modal hide fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">My Continuity Actions: Activity</h4>
          <button type="button" onclick="window.location.href='/plan'" value="Redirect"class="close" >&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <span><b>All fields marked with * are mandatory</b></span><br>
		  <div class="mt-2">
		  <span>			  
				  Step 1.  Identify the immediate (short-term) strategy aimed at providing a minimum or basic level of service to contain or minimise the impact of the disruption until a more sustainable level of service can be provided.
			  <ul>
				<li>What is required to provide this service?</li>
				<li>How can we provide this immediately (without the system)?</li>
			  </ul>
				 Step 2.	Determine how long this strategy can be maintained.</li>
			  <ul>
				<li>How long can we continue this before the impact is intolerable?</li>
			  </ul>
				Step 3.	Identify the sustainable strategy aimed at providing a higher level of service that can be continued beyond the immediate continuity strategy
			  <ul>
				<li>What is required to provide this in addition to the immediate strategy?
				<li>How do we procure the required resources?</li>
				<li>What processes do we need to put in place?</li>
			  </ul>
				Step 4.	Determine how long this strategy can be maintained.
			  <ul>
				<li>How long can we practicably continue this strategy?</li> 
				<li>How long can we continue this before the impact is intolerable?</li>
			  </ul>
	      </span>
		  </div>
		  <div class="form-group">
					<form action="/savectyact" method="post">
			  <label for="activity"><h6>Activity</h6></label>
			<!--  <input type="text" class="form-control" readonly id="activity" value="Accessing patient record"> -->
			<%- activity -%>
		  </div>
		  <div class="form-group">
			  <label for="category"><h6>Impact Category *</h6></label>
			<!--  <input type="text" class="form-control" readonly id="impact" value="5 - Severe"> -->
			<%- impact -%>
		  </div>	
		 
		  <div class="form-group">
			  <label for="rating"><h6>Immediate Continuity Action *</h6></label>	
			  <textarea class="form-control" rows="5" name="immediate" id="immediate" required></textarea>
		  </div>
		
		  <div class="form-group">
			  <label for="category"><h6>Immediate Maintainable Duration</h6></label>
			 <!-- <input type="text" class="form-control" readonly id="mtpd" value="1 Day"> -->
			 <%- mtpd -%>
		  </div>			  		
		  <div class="form-group">
			  <label for="rating"><h6>Sustainable Continuity Action *</h6></label>	
			  <textarea class="form-control" rows="5" name="sustainable" id="sustainable" required></textarea>
		  </div>
		  <div class="form-group">
			  <label for="rating"><h6>Sustainable Pre-requisites/Resources *</h6></label>	
			  <textarea class="form-control" rows="5" name="prerequities" id="prerequities" required></textarea>
		  </div>	  
		
		
		  <div class="form-group mt-3">
			  <label for="mtpd"><h6>Sustainable Maintabile Duration *</h6></label>
			  <select class="form-control" name="sustainduration" id="sustainduration" required>
				<option selected>Nil</option>
				<option>2 Hr</option>
				<option>4 Hr</option>
				<option>8 Hr</option>
				<option>1 Day</option>
				<option>3 Days</option>
				<option>1 Week</option>
				<option>2 Weeks</option>
				<option>1 Month +</option>
			  </select>
		  </div>		  	  
        <!-- Modal footer -->
        <div class="mt-5 modal-footer">
			<div class="col-6">
			  <button type="button" onclick="window.location.href='/plan'" value="Redirect" class="btn btn-outline-secondary">Cancel</button>
			</div>
			<div class="col-6">  
			  <button type="submit" class="btn btn-dark float-right">Save</button>
			</div>
		</form>
		</div>
        
      </div>
    </div>
  </div>
</div>
	<script src="justinjs/bcpmeMin.js"></script>
	<script src="justinjs/bcpmeHrs.js"></script>
 	<script src="justinjs/bcpmeDay.js"></script>
	<script src="justinjs/bcpmeWek.js"></script>
</body>
</html>